/* Style additionnel de ma présentation avec Remark.js */
 
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body { 
      font-family: Arial, Helvetica, Liberation Sans, FreeSans, sans-serif;
      font-size: 100%;
}

h1 {
  font-size: 3em;
}

h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz', Arial, Helvetica, Liberation Sans, FreeSans, sans-serif;
        font-weight: normal;
      }

h3 {
 	color: #BF3F7F;
}
 
 blockquote, em, h4 {
  color: royalblue;
  }
  
p, li {
 font-size: 2em;
}

blockquote { 
 				border: thick royalblue dotted;
             }
            
dl {             
        border: thick #BF3F7F dotted;
}

blockquote, dl, fieldset { 
        border-radius: 5px;
        padding : 0.75em;
             }

dt {
        font-weight: bold;
        color: #BF3F7F;
}

 h4 {
    border-top: thin solid royalblue;
    border-right: thin solid royalblue;
    border-bottom: thick solid royalblue;
    border-left: thick solid royalblue;
    border-radius: 5px;
    padding: 0.5em;
 }
 
@media screen and (max-width: 64em) {
h1 {
    font-size: 2.5em;
  }
 
body {
      font-size: 90%;
   } 
}

@media screen and (max-width: 50em) {
h1 {
    font-size: 2em;
  }
 
  body {
       font-size: 75%;
   } 
 
}

@media screen and (max-width: 30em){

 h1 {
    font-size: 1.5em;
  }
 
  body {
        font-size: 50%;
  }
 
}
